<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.indq_events">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventFinalActivity"
            android:label="EventFinalActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".EventPlaceActivity"
            android:label="EventPlaceActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventDateActivity"
            android:label="EventDateActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EventImageActivity"
            android:label="EventImageActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="INDQ EVENTS"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EventTitleActivity"
            android:label="EventTitleActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SignupActivity"
            android:label="SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>